<h1>Are you sure you want to delete @Model["author"].GetName()?</h1>

<form action='/authors/@Model["author"].GetId()' method='post'>
    <input id='categoryId' name='categoryId' type='hidden' value='@Model["author"].GetId()'>
    <button type='submit'>YES</button>
</form>
<form action='/authors'>
    <button type='submit'>NO</button>
</form>
