<h1>Add a author</h1>
<p>Add a author here:</p>

<form action="/authors" method="post">
  <label for="authorName">Author name:</label>
  <input id="authorName" name="authorName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/authors">Back to categories.</a></p>
