<h1>Are you sure you want to delete @Model["item"].GetDescription()?</h1>

<form action='/items/deleted' method='post'>
    <button type='submit'>YES</button>
</form>
<form action='/items/@Model["item"].GetId()'>
    <button type='submit'>NO</button>
</form>