<h1>Are you sure you want to delete @Model["book"].GetBookTitle()?</h1>

<form action='/books/deleted' method='post'>
    <button type='submit'>YES</button>
</form>
<form action='/books/@Model["book"].GetId()'>
    <button type='submit'>NO</button>
</form>
