<h1>Add a new item</h1>

<form action='/books' method='post'>
  <label for='itemDescription'>Item description</label>
  <input id='itemDescription' name='itemDescription' type='text'>

  <button type='submit'>Add item</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/books">View all items</a></p>
