<h1>Library</h1>
<h3><a href='/authors'>View all authors</a></h3>
<h3><a href='/books'>View all books</a></h3>
<h3><a href='/authors/new'>Add a new author</a></h3>
<h3><a href='/books/new'>Add a new book</a></h3>
