<h3>Here are all the items in this category:</h3>

<a href="/categories/@Model["category"].GetId()/sorted_due_dates">Sort by due date</a>
<a href="/categories/@Model["category"].GetId()/sorted_names">Sort by name</a>
<ol>
@foreach (var item in @Model["items"])
{
  <li><a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription()</a> Due Date: @item.GetDueDate().ToString("yyyy-MM-dd")</li>
}
</ol>

<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href="/categories/delete">Delete this category</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>